@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track
{
    display: none;
	background-color: transparent;
    border-radius: 0.75rem;
}

::-webkit-scrollbar
{
	width: 7px;
    height: 7px;
	background-color: transparent;
    border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb
{
	background-color: #7e7e7e;
    border-radius: 0.75rem;
}
::-webkit-scrollbar-thumb:hover
{
	background-color: #00205B;
}

body {
  background-image: url("/Background.jpg");
}

.blåtekst {
    color: #00205B;
}

.hover\:text-rød:hover {
  --tw-text-opacity: 1;
  color: #BA0C2F;
}